src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c5b7e02f-e8c4-44c8-9ffc-5347f72c1f0d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="2c34112e-6aa4-4da6-8f1c-4a4839459672" >
		<http:listener doc:name="Listener" doc:id="8a9b3b18-ead6-449b-a23b-cba39caa596d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="hello-world" doc:name="Set Payload" doc:id="40850766-e212-4698-beff-c66c60ed60a8" />
		<logger level="INFO" doc:name="Logger" doc:id="c7acc9d6-e46d-4a13-97af-7ae980c8131b" message="#[payload]"/>
	</flow>
</mule>
